<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sighthing</title>
</head>

<body>
    <h1>All sigthings in our system</h1>
    <table>
        <table>
            <tr>
                <th>Unique Squirrel ID</th>
                <th>Date</th>
                <th>Link to more detail</th>
            </tr>

            {% for s in sightings %}

            <tr>
                <td>{{ s.unique_squirrel_id }}</td>
                <td>{{ s.date }}</td>
                <td><a href='/sightings/{{ s.unique_squirrel_id }}'>more</a></td>
            </tr>

            {% endfor %}

        </table>
</body>

</html>