{% extends 'sightings/base.html' %}

{% load static %}

{% block title %} All sightings {% endblock %}

{% block main %}
<section class="jumbotron text-center">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>
                All of sightings
            </h1>
            <a href="/sightings/add" class="btn btn-primary my-2">Report a new signting</a>
            </p>
        </div>
    </div>
</section>


<div class="row">
    <div class="col-lg">
        <table class="table">
            <thead>
                <tr>
                    <th>Unique Squirrel ID</th>
                    <th>Date</th>
                    <th>Link to more detail</th>
                </tr>
            </thead>
            <tbody>
                {% for s in sightings %}
                <tr>
                    <td>{{ s.unique_squirrel_id }}</td>
                    <td>{{ s.date }}</td>
                    <td><a href='/sightings/{{ s.unique_squirrel_id }}'>more</a></td>
                </tr>
                {% endfor %}
            </tbody>


        </table>
    </div>
</div>
{% endblock %}